@import url('https://cdnjs.cloudflare.com/ajax/libs/antd/3.2.1/antd.css');
@import "cards";
@import "spacing";
@import "buttons";
@import "inputs";
@import "menus";
@import "containers";
@import "basics";

$primary-color: #674172;
$secondary-color: #FFFFFF; // not defined

$light-grey: #FAFAFA;
$dark-grey: #BDC3C7;


@media only screen and (max-width: 1000px) {
  .no-display {
    display: none!important;
  }
}
@media only screen and (min-width: 1000px) {
  .display {
    display: none!important;
  }
}
@media only screen and (max-width: 1000px) {
  .Gain {
    .gain-card-top {
      top: 0!important;
      margin-bottom: 20px;
    }
    .gain-card-bot {
      bottom: 0!important;
      margin-bottom: 20px;
    }
  }
  .Footer {
    margin-top: 15px;
  }
  .Header {
    h1 {
      font-size: 48px!important;
      font-weight: 800;
      line-height: 54px!important;
    }
    .header-cta-wrapper {
      width: 100%!important;
    }
  }
  .Cards-bg {
    background: url('/src/images/header-wave-small.svg')!important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;

    margin-top: -180px;
  }
  .Cards {
    padding-top: 240px!important;
  }
  .Draw-Main {
    .Logo-Bloc {
      margin-top: 0px!important;
    }
    .Draw-Main-Sub {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  .Draw-Main-Sub {
    height:auto!important;
    }
  }
  .Draw-Card, .Draw-Bloc {
    margin-right: 0px!important;
  }
  .Draw-Header {
    height: 425px!important;
    .title {
      text-align: center!important;
    }
    h1 {
      font-size: 24px!important;
      top: 250px!important;
      width: 100%;
    }
    .cta-mobile {
      position: relative!important;
      top: 300px!important;
    }
  }
  .How .Sub-Cta {
    margin-top: 40px!important;
  }
  .Gain .Sub-Cta {
    margin-top: 40px;
  }
  .Team .Sub-Cta {
    margin-top: 40px;
  }
}

.Container-bg-grey {
  background-color: #fafafa;
}
.Container-bg-primary {
  background-color: $primary-color;
  color: white;
}


.Cards-bg {
  background: url('/src/images/header-wave.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;

  margin-top: -180px;
  .Cards {
    padding-top: 200px;
  }
}

.Header {
  background-color: none;
  min-height:90px;
  h1 {
    font-size: 50px;
    font-weight: 800;
    line-height: 60px;
  }
  .header-cta-wrapper {
    width: 70%;
  }
  svg {
    height: 600px;
    width: 90%!important;
  }
}
h2 {
  font-size: 30px;
  font-weight: 800;
  margin-top: 20px;
  margin-bottom: 50px;
}



.How {
  h2 {
    margin-bottom: 0px!important;
  }
  padding-bottom: 100px;
  .no-t {
    top: 0!important;
  }
  .how-line-wrapper {
    top: 150px;
    height:100%!important;
  }
  .how-line {
    display: block;
    width: 2px;
    height: 300px!important;
    margin-left:auto;
    margin-right:auto;
    background-color: $primary-color;
  }
  .how-bullet {
    display: block;
    width: 26px;
    height: 26px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 150px;
    background-color: $primary-color;
  }
}

.Gain {
  .gain-bg {
    background: url('/src/images/gains-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    height:300px;
    z-index:1;
  }
  .gain-card {
    z-index:100;
    img {
      width:35%;
      margin-bottom: 15px;
      margin-top: 15px;
    }
  }
  .gain-card-top {
    top: 50px;
  }
  .gain-card-bot {
    bottom: 100px;
  }
}

.Draw-Header {
  margin-top: -90px;
  background-color: #e7e7e7;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 375px;
  padding-left: 10%;
  padding-right: 10%;
  .title {
    position: relative;
    height:100%!important;
    width:100%;
    padding-left: 20px;
  }
  .logo-mobile {
    position: relative;
    width: 100%;
    // left: -50%;
    .avatar {
      position: absolute;
      left: 35%;
      top: 100px;
    }
  }
  h1 {
    font-size: 40px;
    font-weight: 800;
    position: absolute;
    top: 315px;
  }
}

.Draw-Main {
  .avatar {
    border: 3px solid #fff!important;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    width: 100%;
    height: 100%;
  }
  .Draw-Main-Sub {
    height:45px;
    border-bottom: 1px solid #eeeeee;
    padding-left: 10%;
    padding-right: 10%;
    .center-text {
      text-align:center;
      vertical-align:middle;
      p {
        line-height: 45px;
        span {
          // font-weight: 900;
        }
      }
    }
  }
  .Draw-Card {
    // border-radius: 7px;
    padding: 20px;
    margin-bottom: 5px;
  }
  .infos {
    border: 1px solid #eeeeee;
  }
  .Draw-Blocs {
    padding-left: 10%;
    padding-right: 10%;
  }
  .Draw-Bloc {
    margin-top: 15px;
    margin-right: 15px;
  }
  .Logo-Bloc {
    margin-top: -175px;
  }
  .description {
    padding-left: 20px;
    padding-right: 80px;
    padding-top: 20px;

    min-height: 500px;
  }
  .infos {
    padding-left: 30px;
    padding-right: 30px;
    h3 {
      text-align: center;
    }
    p {
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .cta {
      text-align: center;
    }
  }
}

.Register-Modal {
  .Register-Wrapper {
    padding-left: 5%;
    padding-right: 5%;
  }
  .ant-modal-footer {
    display: none;
  }
  .Register-Avatar {
    text-align: center;
    min-height: 125px;
    .avatar-reg {
      width: 100px;
      height: 100px;
    }
  }
  .Register-Description {
    text-align: center;
    h2 {
      font-size: 24px!important;
      font-weight: 800;
      margin-top: 0;
      margin-bottom: 10px;
    }
    p {
      font-size: 18px!important;
    }
  }
}
.ant-form-item {
  margin-bottom: 0!important;
}

.Footer {
  font-color: white;
  text-align: center;
  div {
    margin-top:10px;
  }
}

.How .Sub-Cta {
  margin-top: 100px;
}

.Team .Sub-Cta {
  margin-top: 40px;
}

// .How .Sub-Cta {
//   margin-top: 40px;
// }
