@import url('https://fonts.googleapis.com/css?family=Cabin|Fira+Sans:600|Poppins:500');
@import url('https://fonts.googleapis.com/css?family=Lato');

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Poppins', sans-serif;
}

p,
span {
  font-family: 'Lato', sans-serif;
}

p.reading--large {
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.58;
  letter-spacing: -.003em;
}

p.reading--regular {
  font-size: 16px;
}

p.reading--small {
  font-size: 14px;
}
