$primary-color: #674172;
$secondary-color: #FFFFFF; // not defined

$light-grey: #FAFAFA;
$dark-grey: #BDC3C7;

.Main-Input {
  height: 60px;
  border-radius: 50px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #E8E8E8;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
}
