$primary-color: #674172;
$secondary-color: #FFFFFF; // not defined

$light-grey: #FAFAFA;
$dark-grey: #BDC3C7;

a { color: inherit; }
a, a:hover {
  color: $primary-color;
}

.MenuMain-Container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.ant-menu-horizontal {
  border-bottom: 0px!important;
}

.ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected {
  border-color: $primary-color;
  color: $primary-color;
}
